:root {
    --body-index-background-color: #525659;
    --title-color: #52ac2a;
    --border-color: #6aa84f;
    --container-shadow: 2px 5px 5px #2a2a2a;
    --layer-shadow: rgba(255, 255, 255, .55);
    --table-head: #666666
}